@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*primero escritorio y despues movil ,Jquerys */ 

/* resetear*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

/* va hacer que se centre*/
.container {
    width: 120rem;
    margin: 0 auto;
}


/* oscurecer las imagenes linear-gradient primero y despues imagen, centrar imagen, cubrir
anchoy altura */ 

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Imagenes/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    
}


.menu{
    position: absolute;  /*fixed es para estar moverse con el scroll y absolute se queda ahi */
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #ec490896;
    width: 100%;
    margin: auto;
}



/*imagen de logo mover*/

img.caffe-logo-nefer {
    width: 80px;
    margin-top: 16px; 
    transition: all .20s ease-in-out;
}



/* el grosor solo agrege hasta 800 en google fonts
.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}*/

/* cuando se haga scroll no quedara todo pegado en la parte superior  */

.scroll {
    scroll-margin-top: 70px;
}



.menu .navbar ul li{
    position: relative;
    float: left;

}


.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #ce967b;
}


/*llamar id con # y clase con .*/

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-content{
    text-align: center;
    padding-top: 100px;
}

.header-content h1 {
    font-size: 85px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 45px;

}

.header-content p{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 250px;
    margin-bottom: 25px;
}


 .btn-1_shop {
    font-size: 18px;
    display: flex;
    background: #BF7747; /* color de fondo */
    color: #fff; /* color de fuente */
     /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 15px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.btn-1_shop:hover {
    background: #D15300 ;
  color: #fff !important;
  }


/*.menu .nabar a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
} */


/*lo convertimos a bloc y podemos aplicar bien margin y padin*/

/* .btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 16px;
} */

 #btn-nosemueve {
    border-radius: 50px;
    width:  26%;
}

/* .btn-1:hover {
    background-color: rgb(114, 59, 37);
    box-shadow: #ce967b 0 0 15px;
} */

/*** ESTILOS BOTÓN GROW SPIN ***/
.btn-1 {
    background: #BF7747; /* color de fondo */
    color: #fff; /* color de fuente */
     /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 15px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .btn-1:hover {
    color: #fff;/* color de fuente hover */
  }
  .btn-1::after {
    content: "";
    background: #6A2C03 ; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }
  .btn-1:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }



.coffee {
    padding: 100px 0px;
    background-color: #e1e2e6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 0 25px;
}


.coffee-1 img {
    width: 200px;
    transition: all 100ms;
}

.coffee-1 img:hover {
    width: 200px;
    transform: scale(1.15);
}

.coffee-img {
    top: 0px;
    right: 0px;
    position: absolute;
}

/* acomodar granos de cafe */

.coffee-img_down{
    top: 480px;
    right: 1520px;
    position: absolute;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Imagenes/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px 5px;
}

.services-content {
    text-align: center;
    
}

.services-content {
    text-align: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
    text-transform: none;
}

.services-group {
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
    margin-top: 100px;
    
}

.services-1 {
    padding: 0 80px;
    text-transform: none;
    
}
/*arreglar tamaño imagenes de servicios */

.services-1 img {
    width: 200px;
    margin-bottom: 0;
}


.services-1 img:hover {
    width: 200px;
    margin-bottom: 0;
    transform: scale(1.30);
}


.services-1 h3 {
    color: #ffffff;
    font-size: 18px;
}

.general {
    display: flex;
    
}

.general p {
    text-align: justify;
}


.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}


.general-2 {
    background-image: url(Imagenes/coffe-1-1.desayuno.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(Imagenes/coffee-2-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}


.blog-content {
    display: flex;
    justify-content: space-evenly;
    
    
}

.blog-1 {
    padding: 15px 55px;
}


.blog-1 img {
    width: 400px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 img:hover {
    transform: scale(1.15);

}

.sinmover {
    width: 300px;
    height: 260px;
    
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}


.footer {
    padding: 100px 0;
    background-color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

link h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}


/* punto de quiebe para desaparecer a granod e cafe */

@media(max-width:1590px) {
    .coffee-img {
        display: none;
    }

    .coffee-img_down{
    top: 483px;
    right: 1456px;
    position: absolute;
}
}

@media(max-width:991px) {
    .menu{
        padding: 30px;
    }

    .hamburgesa {
        width: 30px;
        height: 30px;
    }

    .menu label {
        display: initial;
    }

   /* desaparecer en query cel*/

    img.caffe-logo-nefer {
      display: none;
        
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .btn-Shop {
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;

    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-img {
        display: none;
    }


    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 50px ;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    
}
