:root {
    /* colores */
    --morado: #a400f7;
    --cielobajito:#edfefd;
    --azulCeleste: #2fc1ea;
    --rosa:#b54da1;      
    --CelesteBajito:#dff2ff;
}

/* quitar barras de desplzamiento */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(125deg, var(--cielobajito)10%,#ffff); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.Logo-adolescente{
    width: 230px;
    height: 170;
    /* margin-top: 16px;  */
    
}

nav {
    width: 100%;
    text-align: end;    
}

li {
    transition: font-size 0.3s ease; /* Smooth transition effect */
}

li:hover {
    font-size: 20px; /* Increased font size on hover */
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
    
}

.container .navbar ul li a:hover {
    color: #a400f7;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.btn-action {
    background:linear-gradient(to left,#2fc1ea,#b54da1);
    color: #ffff;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: rgb(201, 199, 199) 8px 8px 10px 0px;
    font-weight: bold;
}

.btn-action:hover{
    background: #a400f7;
    box-shadow: rgb(201, 199, 199) 8px 8px 10px 0px;

    /* background-color: var(--Naranja); */
    /* box-shadow: 8px 8px 10px 0px grey; */
    color: #ffff !important;
}


.banner{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.banner-info, .banner-imagen {
    flex-basis: 50%;   /*se define el tamaño de un ítem en términos del espacio que deja como espacio disponible */
}

.banner-info h1 {
    margin-bottom: 20px;
    font-size: 55px;
    font-weight: 700px;
    color: var(--Azul);
    line-height : 70px;
}

.parrafo {
    line-height : 25px;
}

.banner-imagen img {
    width: 100%;
    animation: updown 2s infinite; /* Adjust animation duration as needed */
}

/* hacer que la imagen se mueva de arriba a abajo */

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the height of the bounce */
  }
}

.Tu_color-1{
    color: var(--morado);
    
}

.Tu_color-2 {
    color: var(--azulCeleste);
}




.pill {
    background: var(--CelesteBajito);
    color: var(--CelesteFuerte);
    padding: 10px 20px;
    margin: 10px 10px 20px 0;
    border-radius: 20px;
    box-shadow: rgb(201, 199, 199) 8px 8px 10px 0px;
    display: flex;
    align-items: center;
    width: 290px;
}

.pill img {
    width: 25px;
    margin: 0 8px 0 -8px;
}

.btn {
    margin-top: 50px;
    transition: font-size 0.1s ease
}

.btn a {
    text-decoration: none;
}

.btn a:hover {
    background:#a400f7;
    /* background-color: var(--Naranja); */
    box-shadow: rgb(201, 199, 199) 8px 8px 10px 0px;
    font-size: 20PX;
}