
:root {
    /* colores */
    --Azul: #122F5F;
    --Gris: #F6F9FE;
    --CelesteFuerte: #3276E2;
    --Naranja: #F1A55A;
    --CelesteBajo: #D3E9F9;
    --CelestePildora:#D8EBFA;
        
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient (90deg, var(--CelesteFuerte) 20%, var(--CelesteBajo) 30%) ;
}